.marker-btn{
background: none;
border:none;
cursor: pointer;
}

.marker-btn img{
    width: 10px;
    height: 10px;
    background: none;
    

}
.marker-btn-dead img{
    width: 15px;
    height: 15px;
    background: none;
    

}
 .sidenav{
     height: 100%;
 } 
  
 


  
  


.legend img{
    width: 15px;
    height: 15px;
    background: none;
    
   
}
#overall{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup{
   justify-content: left;
   align-content: left  ;
}

.zoom-button{
  background: none;
}